body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00407A;
}

header {
    height: 10vh;
    background-color: #52BDEC;
    color: white;
    text-align: center;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.logo {
    height: 10vh;
}

/* Style the title container */
.title-container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

/* Style the title */
.title-container h1 {
    margin: 0 auto; /* Add this line */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}

.main-content {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 90%;
    max-width: 96vw;
}

#classes-form {
    display: flex;
    margin-right: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label-container {
    display: flex;
    margin-left: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    height: 10%;
}

input, #update_label, #new_label, #download_label{
    width: 130%;
    padding: 10px 15px;
    font-size: 120%;
    background-color: #52BDEC; /* Green */
    color: white;
    text-align: center;
    border-radius: 10px; /* Optional: Round the corners */
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Control panel */

.controls {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.left-column, .right-column {
    display: flex;
    align-items: center;
    min-width: 48vw;
    border: 2px solid #000; /* Add a border */
    border-radius: 10px; /* Optional: Round the corners */
    padding-left: 20px;
}

/* Text */

p{
    width: 25%;
    padding: 10px 15px;
    margin-right: 20px;
    font-size: 1.15rem;
    background-color: #fff;
    color: #000;
}

/* Buttons */

#capture, #delete, #train{
    width: 25%;
    padding: 10px 15px;
    margin-right: 20px;
    font-size: 120%;
    background-color: #52BDEC; /* Green */
    color: white;
    text-align: center;
    border-radius: 10px; /* Optional: Round the corners */
}

#input:active, #download_label:active, #update_label:active, #new_label:active, #capture:active, #delete:active, #train:active{
    background-color:#00407A;
}

/* Dropdown */

.dropdown-content {
    width: 25%;
    margin-right: 20px;
    overflow: hidden;
}
  
.dropdown-content select {
    width: 100%;
    padding: 10px 15px;
    font-size: 1.15rem;
    background-color: #fff;
    color: #000;
    appearance: none;
    cursor: pointer;
}
