<!DOCTYPE html>

<html>

<head>
    <title>Machine Vision for Quality Control</title>
    <link rel="stylesheet" href="static/index.css">
</head>

<body>

    <header>
        <div class="title-container">
          <img src="static/logo_mgroup.png" alt="Logo2" class="logo">
          <h1>Edge ML Model</h1>
          <img src="static/logo_kuleuven.png" alt="Logo1" class="logo">
        </div>
    </header>

    <div class="container">

        <div class="main-content">

            <div id="classes-form">
                <textarea id="textarea" name="classes_content"></textarea>
                <div class="submit-container">
                    <input id='submit_button' type="submit">
                </div>
            </div>
    
            <div class="video-container">
                <img id="video" src="{{ url_for('video') }}", alt="Video stream not available", style="max-width:100%; max-height:100%">
            </div>

            <div class="label-container">

                <button id="new_label">New labels</button>

                <button id="update_label">Update labels</button>

                <button id="download_label">Download labels</button>
                
            </div>

        </div>
        
        <div class="controls">

            <div class="left-column">

                <button id="capture">Capture</button>
        
                <button id="delete">Delete</button>

                <div class="dropdown-content">
                    <select id="category">
                        {% for option in options %}
                        <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                </div>

                <p id="image-count"> {{ count }} </p>

            </div>

            <div class="right-column">

                <button id="train">Train</button>

                <div class="dropdown-content">
                    <select id="model">
                        <option value="Detection">Detect</option>
                        <option value="Classification">Classify</option>
                        <option value="Segmentation">Segment</option>
                    </select>
                </div>

                <p id="model-status"> {{ status }} </p>

                <p id="model_accuracy"> {{ accuracy }} </p>

            </div>

        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        // Capture button action
        document.getElementById('capture').addEventListener('click', function() {
            fetch('/capture', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'category=' + document.getElementById('category').value
                
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('image-count').textContent = data.count + ' images';
            });
        });

        // Delete button action
        $(document).ready(function(){
            $("#delete").click(function(){
                $.ajax({
                    url: '/delete',
                    type: 'POST',
                    success: function(response) {
                        // This will reload the page with the response from the server
                        location.reload();
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });

        // Submit button action
        $(document).ready(function(){
            $("#submit_button").click(function(e){
                e.preventDefault();  // Prevent the default form submission
                $.ajax({
                    url: '/classes',
                    type: 'POST',
                    data: {
                        'classes_content': $('#textarea').val()  // Include the textarea content
                    },
                    success: function(response) {
                        // This will reload the page with the response from the server
                        location.reload();
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });



        // Label button action
        document.getElementById('new_label').addEventListener('click', function() {
            fetch('/new_label', { method: 'POST' })
            .then(response => response.json())
        });

        // Label button action
        document.getElementById('update_label').addEventListener('click', function() {
            fetch('/update_label', { method: 'POST' })
            .then(response => response.json())
        });

        // Label button action
        document.getElementById('download_label').addEventListener('click', function() {
            fetch('/download_label', { method: 'POST' })
            .then(response => response.json())
        });

        // Dropdown category action
        document.getElementById('category').addEventListener('click', function() {
            fetch('/drop-down-category', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'category=' + document.getElementById('category').value
                
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('image-count').textContent = data.count + ' images';
            });
        });

        // Dropdown model action
        document.getElementById('model').addEventListener('click', function() {
            fetch('/drop-down-model', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'model=' + document.getElementById('model').value
                
            })
            .then(response => response.json())
        });

        // Train button action
        document.getElementById('train').addEventListener('click', function() {
            document.getElementById('model-status').textContent = 'Training ...';
            fetch('/train', { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                document.getElementById('model_accuracy').textContent = data.model_accuracy;
                document.getElementById('model-status').textContent = data.model_status;
            });
        });z

    </script>

</body>
</html>
